.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blueviolet;
    padding: 50px;
    
}

.loginform{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginInput{
    padding: 7px;
    width: 200px;
    border: none;
    outline: none;
}

.loginbtn{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: aqua;
}