.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blueviolet;
    padding: 50px;
    
}

.registerform{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerInput{
    padding: 7px;
    width: 200px;
    border: none;
    outline: none;
}

.registerbtn{
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: aqua;
}