.review__text {
  color: #fff;
  line-height: 30px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.slider__content {
  flex-direction: column;
  margin: 40px 0 10px;
}

.slider__content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial__wrapper {
  background-color: #53389e;
  color: white;
}
