.program__title h5 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: #475467;
  width: 70%;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

.program__title span {
  color: #53389e;
}

.product__item {
  text-align: left;
  padding: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.product__img {
  margin-bottom: 20px;
  transition: 0.2s;
}

.product__item:hover {
  transform: scale(1.2);
}
.product__img img {
  width: 100%;
  height: auto;
}

.product__name {
  color: #212245;
  font-size: 0.8rem;
}

.product__name h5 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.product__desc {
  display: flex;
  font-size: 0.9rem;
  color: #475467;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__btn span {
  color: #53389e;
  font-size: 1.2rem;
}

.product__btn button {
  background-color: #53389e;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 5px 7px;
  font-size: 0.8rem;
}
